In [2]:
import pandas as pd
import openpyxl

moving = pd.read_excel('C:\project22\(제공용) 요일별 유동인구 샘플자료.xlsx'
                       , sheet_name = "데이터예시")

# 열이름 변경
moving.drop(['Unnamed: 0'], axis=1, inplace=True)

# 컬럼이름 3행의 값으로 변경
moving.columns = moving.loc[3]
# 불필요한 컬럼 제거
moving.drop([0, 1, 2, 3,4], inplace=True)
# 인덱스 제거
moving.reset_index(inplace= True, drop=True)

# 소지역 코드 7자리 자르기
moving['code'] = moving['소지역코드'].str.slice(start=0, stop=7)

# 기준년월과 소지역 코드 합친 열 만들기
moving["day_code"] = str(moving['기준년월']) + (moving['code'])

# 기준년월과 지역 코드 합친 기준열 만들기
for i in range(len(moving)):
    day = str(moving.loc[i, '기준년월'])
    code = moving.loc[i, 'code']
    moving.loc[i, 'day_code'] = day + code

# 기준열로 groupby 하고 합계 
moving_sum = moving.groupby('day_code').sum()

3,기준년월,소지역코드,X좌표,Y좌표,월요일 유동인구,화요일 유동인구,수요일 유동인구,목요일 유동인구,금요일 유동인구,토요일 유동인구,일요일 유동인구,code,day_code
0,202112,23320330100070000000,746783.991784,2000329.147385,40.75,45.36,46.67,44.59,44.57,29.08,22.69,2332033,2021122332033
1,202112,23320330100070000000,746783.991784,2000379.147385,0.05,0.05,0.05,0.04,0.04,0,0,2332033,2021122332033
2,202112,23320330100070000000,746783.991784,2001079.147385,22.32,24.17,20.4,18.03,17.5,16.78,14.92,2332033,2021122332033
3,202112,23320330100070000000,746783.991784,2001179.147385,0.05,0.07,0.04,0.04,0.04,0,0,2332033,2021122332033
4,202112,23320330100070000000,746833.991784,2000079.147385,0.11,0.14,0.11,0.05,0.09,0.04,0.04,2332033,2021122332033