In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# from sklearn.datasets import 
from sklearn.linear_model import LogisticRegression

In [2]:
sanbul = pd.read_csv('C:\project22\python\month_place_sanbul.csv', encoding = 'euc-kr')
sanbul.drop(['Unnamed: 0'], axis = 1, inplace=True)

In [3]:
sanbul.loc[sanbul['발생장소_시도'] == '울산', '발생장소_시군구'] = '울산'

sanbul_lo = sanbul[["tm", '발생장소_시군구']]

sanbul_lo['target'] = '1'

C:\Users\user\AppData\Local\Temp\ipykernel_20252\543348347.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanbul_lo['target'] = '1'

In [4]:
sanbul_lo

              tm 발생장소_시군구 target
0     2020-04-24       안동      1
1     2019-04-04       고성      1
2     2019-04-04       강릉      1
3     2017-05-06       삼척      1
4     2020-03-19       울산      1
...          ...      ...    ...
1624  2019-05-17       울산      1
1625  2016-11-29       강릉      1
1626  2020-12-06       울산      1
1627  2014-02-03     포항 북      1
1628  2013-05-14       영덕      1

[1629 rows x 3 columns]

In [5]:
wether = pd.read_csv('C:\project22\python\wether_dataframe.csv', encoding = 'euc-kr')
wether.drop(['Unnamed: 0', 'index', 'stnId'], axis = 1, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_20252\3810907375.py:1: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  wether = pd.read_csv('C:\project22\python\wether_dataframe.csv', encoding = 'euc-kr')

In [6]:
# 산불발생 날, 장소와 날씨 합치기 위한 기준열 만들어주기
sanbul_lo['day_place'] = sanbul_lo['tm'] + sanbul_lo['발생장소_시군구']
wether['day_place'] = wether['tm'] + wether['stnNm']

# sanbul_wether = pd.concat([wether, sanbul_lo], axis=1)
sanbul_weather = pd.merge(sanbul_lo, wether, how = 'outer', on = 'day_place')

C:\Users\user\AppData\Local\Temp\ipykernel_20252\3091745030.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanbul_lo['day_place'] = sanbul_lo['tm'] + sanbul_lo['발생장소_시군구']

In [7]:
sanbul_weather.head()

,tm_x,발생장소_시군구,target,day_place,stnNm,tm_y,avgTa,minTa,minTaHrmt,maxTa,...,avgM05Te,avgM10Te,avgM15Te,avgM30Te,avgM50Te,sumLrgEv,sumSmlEv,n99Rn,iscs,sumFogDur
0,2020-04-24,안동,1,2020-04-24안동,안동,2020-04-24,10.0,2.7,545.0,16.6,...,NaN,NaN,NaN,NaN,NaN,5.6,8.0,NaN,{연기}1640-{연기}{강도0}1800-{연기}{강도1}2100-2305.,NaN
1,2019-04-04,고성,1,2019-04-04고성,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-04-04,강릉,1,2019-04-04강릉,강릉,2019-04-04,14.2,8.8,457.0,19.4,...,9.7,9.7,10.2,12.0,14.6,9.2,13.1,NaN,NaN,NaN
3,2017-05-06,삼척,1,2017-05-06삼척,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-19,울산,1,2020-03-19울산,울산,2020-03-19,13.4,6.8,2351.0,20.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{연기}1630-{연기}{강도0}1800-{연기}{강도0}2100-{연기}{강도0}...,NaN

In [8]:
(sanbul_weather.loc[0,'day_place'])[:4]

'2020'

In [9]:
sanbul_weather['year'] = (sanbul_weather['day_place'].str[:4])

In [10]:
sanbul_weather['year'] = sanbul_weather['year'].astype(int)

condition = (sanbul_weather['year'] > 2014)
sanbul_weather_2015 = sanbul_weather[condition]

In [11]:
sanbul_weather_2015.loc[sanbul_weather_2015['target'] != sanbul_weather_2015['target'], 'target'] = '0'
# sanbul_weather_2015

In [12]:
sanbul_weather_2015_lo = sanbul_weather_2015[['target', 'minTa', 'maxInsWs', 'maxInsWsWd', 'maxInsWsWd', 'maxWs', 'avgWs', 'avgTd', 'minRhm', 'avgRhm', 'avgPv', 'minTg']]

In [13]:
# 결측치 제거
sanbul_weather_2015_lo.dropna(inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_20252\54990802.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanbul_weather_2015_lo.dropna(inplace = True)

In [14]:
sanbul_weather_2015_lo.isnull().sum()
sanbul_weather_2015_lo = sanbul_weather_2015_lo.astype("int")
sanbul_weather_2015_lo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69819 entries, 0 to 101353
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   target      69819 non-null  int32
 1   minTa       69819 non-null  int32
 2   maxInsWs    69819 non-null  int32
 3   maxInsWsWd  69819 non-null  int32
 4   maxInsWsWd  69819 non-null  int32
 5   maxWs       69819 non-null  int32
 6   avgWs       69819 non-null  int32
 7   avgTd       69819 non-null  int32
 8   minRhm      69819 non-null  int32
 9   avgRhm      69819 non-null  int32
 10  avgPv       69819 non-null  int32
 11  minTg       69819 non-null  int32
dtypes: int32(12)
memory usage: 3.7 MB

In [15]:
# 로지스틱
from sklearn.model_selection import train_test_split
df = sanbul_weather_2015_lo

features = df[['minTa', 'maxInsWs', 'maxInsWsWd', 'maxInsWsWd', 'maxWs', 'avgWs', 'avgTd', 'minRhm', 'avgRhm', 'avgPv', 'minTg']]
y = df[['target']]


# 테스트 데이터 셋의 비율 20%
train_features, test_features, train_labels, test_labels = train_test_split(features, y, test_size = 0.3)


# 데이터 정규화
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

train_features = sc.fit_transform(train_features)
test_features = sc.fit_transform(test_features)

# 로지스틱 회귀모델 학습
#  penalty : 설정가능 값 l1, l2, elasticnet, none, 기본값 l2
#  C penalty에 대한 계수 설정, 기본 값은 1.0, 높을 수록 복잡한 모델에 대한 규제 강화
# solver : 설정 가능한 값 : newton-cg, lbfgs liblinear, sag saga, 기본값 lbfgs
# random_state : 시행 시 마다 결과를 고정하고 싶다면 임의의 정수로 설정
model = LogisticRegression(penalty = 'l2', random_state= 123)
model.fit(train_features, train_labels)

print(model.score(train_features, train_labels))

c:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9889714157101058

In [16]:
# from sklearn.metrics import classification_report
# Y_pred = LogisticRegression.predict(test_features)

# classification_report(Y_pred, test_labels)

In [17]:
# 회귀모델 정확도
from sklearn.metrics import accuracy_score
Y_pred = model.predict(test_features)

accuracy_score(Y_pred, test_labels)

0.9898309939845317