In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sanbul = pd.read_excel('C:\project22\sanbul.xls'
                       , sheet_name = "Sheet1")

# 열 이름이 되야할 데이터 추출
index_fix = sanbul.loc[1]

# 열이름 변경
sanbul.columns = index_fix

# 필요없는 행 제거
sanbul = sanbul.drop([0, 1])

# 년 월 일 합치기?
# 날짜 데이터와 형태 같게 만들기 yyyy-mm-dd
sanbul['tm'] = sanbul['발생일시_년'] + '-' + sanbul['발생일시_월'] + '-' + sanbul['발생일시_일']

# 발생장소_시도 = 강원, 경북, 울진만 추출

# condition = (sanbul.발생장소_시도 == '경북') |(sanbul.발생장소_시도 == '강원')
# sanbul_region = sanbul[condition]
sanbul.reset_index(drop = True, inplace = True)

In [3]:
sanbul.loc[8,'발생장소_시도']

'전남'

In [4]:
# sanbul['발생장소_시도'] = sanbul['발생장소_시도'] + '도'

for i in range(len(sanbul)):
    sanbul_do = sanbul.loc[i, '발생장소_시도']
    if sanbul_do == '강원':
        sanbul_si_do = '강원도'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '경북':
        sanbul_si_do = '경상북도'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '경남':
        sanbul_si_do = '경상남도'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '전북':
        sanbul_si_do = '전라북도'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '전남':
        sanbul_si_do = '전라남도'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '충북':
        sanbul_si_do = '충청북도'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '충남':
        sanbul_si_do = '충청남도'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '경기':
        sanbul_si_do = '경기도'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '제주':
        sanbul_si_do = '제주도'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '부산':
        sanbul_si_do = '부산광역시'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '서울':
        sanbul_si_do = '서울광역시'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '광주':
        sanbul_si_do = '광주광역시'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '세종':
        sanbul_si_do = '세종특별시'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '울산':
        sanbul_si_do = '울산광역시'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
    elif  sanbul_do == '인천':
        sanbul_si_do = '인천광역시'
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do
        
    else:
        sanbul_si_do = sanbul_do
        
        sanbul.loc[i, '발생장소_시도'] = sanbul_si_do

In [5]:
sanbul

1,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_관서,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인_구분,발생원인_세부원인,발생원인_기타,피해면적_합계,tm
0,2021,12,30,14:57,목,2021,12,30,17:30,경북,경상북도,봉화,명호,양곡,건,주택화재비화,NaN,0.5,2021-12-30
1,2021,12,30,11:16,목,2021,12,30,12:30,충북,충청북도,청주,오송,상봉,기,기타(직접입력),원인미상,0.4,2021-12-30
2,2021,12,29,14:20,수,2021,12,29,17:30,경남,경상남도,남해,창선,가인,기,기타(직접입력),원인미상,0.5,2021-12-29
3,2021,12,29,13:53,수,2021,12,29,16:10,전남,전라남도,순천,NaN,대룡,쓰,쓰레기소각,NaN,0.03,2021-12-29
4,2021,12,29,05:47,수,2021,12,29,12:00,전남,전라남도,완도,완도,장좌,입,기타(직접입력),입산자실화,0.1,2021-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,2012,01,14,22:15,토,2012,01,15,09:40,전남,전라남도,완도,금일,동백,기,낚시꾼실화,NaN,2,2012-01-14
4805,2012,01,11,15:15,수,2012,01,11,16:50,북부,강원도,홍천,홍천,하오안,입,등산객실화,NaN,0.03,2012-01-11
4806,2012,01,11,14:30,수,2012,01,11,16:15,경기,경기도,남양주,호평,NaN,입,입산자실화,NaN,0.1,2012-01-11
4807,2012,01,09,12:15,월,2012,01,09,13:40,경북,경상북도,영덕,지품,오천,건,보일러과열,NaN,0.1,2012-01-09
4808,2012,01,05,11:39,공,2012,01,05,13:04,부산,부산광역시,동,초량,NaN,입,등산객담뱃불실화,NaN,0.1,2012-01-05

In [6]:
sanbul.to_csv('sanbul_tabl.csv')