In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
# 한국 수입 품목
korea_list = pd.read_table('C:\project2\Trade_map_List_of_products_exported_and_imported\Trade_Map_-_List_of_products_imported_by_Korea__Republic_of.txt', sep = '\t')
korea_list.head()

,Code,Product label,Imported value in 2012,Imported value in 2013,Imported value in 2014,Imported value in 2015,Imported value in 2016,Imported value in 2017,Imported value in 2018,Imported value in 2019,Imported value in 2020,Imported value in 2021,Unnamed: 12
0,TOTAL,All products,519575597,515560844,525563837,436547721,406059974,478413948,535172391,503259397,467540264,615034495,NaN
1,270900,Petroleum oils and oils obtained from bitumino...,108298231,99354751,94971596,55132262,44238339,59595047,80374087,70193489,44461676,67019705,NaN
2,271111,"Natural gas, liquefied",27364464,30666717,31423901,18781885,12160921,15620996,23200103,20575241,15718260,25456410,NaN
3,854231,Electronic integrated circuits as processors a...,14406130,14864740,16416096,18936461,17762547,17430645,16364575,15717142,18626463,22698988,NaN
4,271012,"Light oils and preparations, of petroleum or b...",20543698,21917991,21897149,11730198,9074071,11117918,15935866,13797188,10146247,19097311,NaN

In [9]:
# hs, bec 파일 불러오기
hs17_bec5 = pd.read_csv('C:\project2\BEC5Correlations\HS17BEC5.csv')
hs17_bec5.head()

,HS,HS4,HS4Desc,HS6,HS6Desc,BEC5Code1,BEC5Code2,BEC5Category,BEC5EndUse,BEC5Processing,...,GTAPdesc,CPC1,CPCdesc,BEC4Code,BEC4ENDUSE,BEC4INT,BEC4CONS,BEC4CAP,AddedByUNSD,NoteByUNSD
0,H5,101,"Horses, asses, mules and hinnies; live",10121,"Horses; live, pure-bred breeding animals",712010.0,NaN,"7.Health, pharmaceuticals, education, cultural...",CAP,NaN,...,"Bovine cattle sheep and goats horses,",2113.0,Horses asses mules and hinnies live,41,CAP,0.0,0.0,1.0,1,1To1 WITH H4
1,H5,101,"Horses, asses, mules and hinnies; live",10129,"Horses; live, other than pure-bred breeding an...",1111.0,NaN,"1.Agriculture, forestry, fishing, food, bevera...",INT,PRIMARY,...,"Bovine cattle sheep and goats horses,",2113.0,Horses asses mules and hinnies live,111,INT,1.0,0.0,0.0,1,1To1 WITH H4
2,H5,101,"Horses, asses, mules and hinnies; live",10130,Asses; live,1111.0,NaN,"1.Agriculture, forestry, fishing, food, bevera...",INT,PRIMARY,...,"Bovine cattle sheep and goats horses,",2113.0,Horses asses mules and hinnies live,111,INT,1.0,0.0,0.0,1,1To1 WITH H4
3,H5,101,"Horses, asses, mules and hinnies; live",10190,Mules and hinnies; live,1111.0,NaN,"1.Agriculture, forestry, fishing, food, bevera...",INT,PRIMARY,...,"Bovine cattle sheep and goats horses,",2113.0,Horses asses mules and hinnies live,111,INT,1.0,0.0,0.0,1,1To1 WITH H4
4,H5,102,Bovine animals; live,10221,"Cattle; live, pure-bred breeding animals",112010.0,NaN,"1.Agriculture, forestry, fishing, food, bevera...",CAP,NaN,...,"Bovine cattle sheep and goats horses,",2111.0,Bovine cattle live,41,CAP,0.0,0.0,1.0,1,1To1 WITH H4

In [23]:
# hs code, 이름, bec 코드 추출
hs_bec = hs17_bec5[['HS6', 'HS6Desc', 'BEC5Code1']]

# hs code -> code 이름변경
hs_bec.rename(columns={'HS6':'Code'}, inplace=True)
hs_bec.head()

C:\Users\user\AppData\Local\Temp\ipykernel_12820\1985359341.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs_bec.rename(columns={'HS6':'Code'}, inplace=True)

    Code                                            HS6Desc  BEC5Code1
0  10121           Horses; live, pure-bred breeding animals   712010.0
1  10129  Horses; live, other than pure-bred breeding an...     1111.0
2  10130                                        Asses; live     1111.0
3  10190                            Mules and hinnies; live     1111.0
4  10221           Cattle; live, pure-bred breeding animals   112010.0

In [71]:
korea_list.head()
# code에 total 000000 으로 바꿔주기
# korea_list.loc[0, 'Code'] = 000000

korea_list['Code'] = pd.to_numeric(korea_list['Code'])

# korea_list.info()

# hs_bec.dtypes

korea_list_hb = pd.merge(korea_list, hs_bec, how='left', on='Code')
korea_list_hb.isnull().sum()

Code                         0
Product label                0
Imported value in 2012       0
Imported value in 2013       0
Imported value in 2014       0
Imported value in 2015       0
Imported value in 2016       0
Imported value in 2017       0
Imported value in 2018       0
Imported value in 2019       0
Imported value in 2020       0
Imported value in 2021       0
Unnamed: 12               6159
HS6Desc                    873
BEC5Code1                  875
dtype: int64

In [84]:
## csv 파일로 내보내기
korea_list_hb.to_csv('./korea_list_hb.csv')

In [74]:
# BEC코드가 NULL인 값 확인
# HS 코드 확인
korea_list_hb['Code'][korea_list_hb['BEC5Code1'].isnull()]

0            0
1896    711890
5004    999999
5022    710820
5077    290351
         ...
6154    851730
6155    851790
6156    846920
6157    850880
6158    850930
Name: Code, Length: 875, dtype: int64

In [83]:
korea_list_hb.loc[6156]

Code                                                                 846920
Product label             Typewriters, electric (excluding automatic typ...
Imported value in 2012                                                    0
Imported value in 2013                                                    0
Imported value in 2014                                                    0
Imported value in 2015                                                    0
Imported value in 2016                                                    0
Imported value in 2017                                                    0
Imported value in 2018                                                    0
Imported value in 2019                                                    0
Imported value in 2020                                                    0
Imported value in 2021                                                    0
Unnamed: 12                                                             NaN
HS6Desc                                                                 NaN
BEC5Code1                                                               NaN
Name: 6156, dtype: object

,Code,Product label,Imported value in 2012,Imported value in 2013,Imported value in 2014,Imported value in 2015,Imported value in 2016,Imported value in 2017,Imported value in 2018,Imported value in 2019,Imported value in 2020,Imported value in 2021,Unnamed: 12,HS6Desc,BEC5Code1
0,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6154,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
6155,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
6156,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
6157,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
6158,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True

In [87]:
group_size = korea_list_hb.groupby('BEC5Code1').count()
group_size

,Code,Product label,Imported value in 2012,Imported value in 2013,Imported value in 2014,Imported value in 2015,Imported value in 2016,Imported value in 2017,Imported value in 2018,Imported value in 2019,Imported value in 2020,Imported value in 2021,Unnamed: 12,HS6Desc
BEC5Code1,,,,,,,,,,,,,,
212.0,10,10,10,10,10,10,10,10,10,10,10,10,0,10
312.0,50,50,50,50,50,50,50,50,50,50,50,50,0,50
512.0,19,19,19,19,19,19,19,19,19,19,19,19,0,19
612.0,2,2,2,2,2,2,2,2,2,2,2,2,0,2
712.0,16,16,16,16,16,16,16,16,16,16,16,16,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811220.0,8,8,8,8,8,8,8,8,8,8,8,8,0,8
812020.0,15,15,15,15,15,15,15,15,15,15,15,15,0,15
813101.0,2,2,2,2,2,2,2,2,2,2,2,2,0,2
813201.0,1,1,1,1,1,1,1,1,1,1,1,1,0,1
813202.0,4,4,4,4,4,4,4,4,4,4,4,4,0,4