In [3]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# 한국 수입 품목
korea_exported_list = pd.read_table('C:\project2\Trade_map_List_of_products_exported_and_imported\Trade_Map_-_List_of_products_exported_by_Korea__Republic_of.txt', sep = '\t')
korea_exported_list.rename(columns={'Code':'HS'}, inplace=True)
korea_exported_list.head()

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12
0,TOTAL,All products,547854448,559648708,573091134,526900733,495465606,573716618,605169190,542333337,512788606,644438622,NaN
1,854232,Electronic integrated circuits as memories,16611973,21964136,28849532,28856912,31612095,60506974,83048246,53163163,52359154,69177215,NaN
2,854231,Electronic integrated circuits as processors a...,21228826,20702672,18514980,19887934,17066083,21362697,22100868,20681846,23516687,30406085,NaN
3,271019,"Medium oils and preparations, of petroleum or ...",43536414,39290957,37799193,22784332,18938588,25256941,34171305,29751793,17844010,26178125,NaN
4,870323,Motor cars and other motor vehicles principall...,27767857,27237499,27337065,24060624,22007933,19133730,19612091,19701460,15352522,16416185,NaN

In [11]:
# hs, bec 파일 불러오기
hs17_bec5 = pd.read_csv('C:\project2\BEC5Correlations\HS17BEC5.csv')

In [12]:
# hs code, 이름, bec 코드 추출
hs_bec = hs17_bec5[['HS6','BEC5Code1']]

# hs code -> code 이름변경
hs_bec.rename(columns={'HS6':'HS', 'BEC5Code1':'BEC'}, inplace=True)
hs_bec.head()

C:\Users\user\AppData\Local\Temp\ipykernel_18428\1393281536.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs_bec.rename(columns={'HS6':'HS', 'BEC5Code1':'BEC'}, inplace=True)

      HS       BEC
0  10121  712010.0
1  10129    1111.0
2  10130    1111.0
3  10190    1111.0
4  10221  112010.0

In [13]:
korea_exported_list.head()
# code에 total 000000 으로 바꿔주기
korea_exported_list.loc[0, 'HS'] = 000000

korea_exported_list['HS'] = pd.to_numeric(korea_exported_list['HS'])

# korea_list.info()

# hs_bec.dtypes

korea_exported_list = pd.merge(korea_exported_list, hs_bec, how='left', on='HS')
korea_exported_list.isnull().sum()

HS                           0
Product label                0
Exported value in 2012       0
Exported value in 2013       0
Exported value in 2014       0
Exported value in 2015       0
Exported value in 2016       0
Exported value in 2017       0
Exported value in 2018       0
Exported value in 2019       0
Exported value in 2020       0
Exported value in 2021       0
Unnamed: 12               5977
BEC                        816
dtype: int64

In [14]:
## csv 파일로 내보내기
korea_exported_list.to_csv('./korea_exported_list.csv')

In [8]:
# BEC코드가 NULL인 값 확인
# HS 코드 확인
# korea_exported_list['Code'][korea_exported_list['BEC5Code1'].isnull()]

In [9]:
# group_size = korea_exported_list.groupby('BEC5Code1').count()
# group_size