In [1]:
import numpy as np
import pandas as pd

In [2]:
# hs, bec 파일 불러오기
hs_bec = pd.read_csv('C:\project2\BEC5Correlations\통합 문서1.csv')
hs_bec = hs_bec[['HS4','HS6','BEC5Code1', 'BEC5Processing', 'BEC5Specification']]

# hs code -> code 이름변경
hs_bec.rename(columns={'HS4':'HS4', 'HS6':'HS', 'BEC5Code1':'BEC', 'BEC5Processing':'BEC_Pro', 'BEC5Specification':'BEC_Spec'}, inplace=True)
hs_bec.head()
# hs_bec.size
# hs_bec.info()

     HS4       HS       BEC  BEC_Pro BEC_Spec
0  101.0  10121.0  712010.0      NaN  GENERIC
1  101.0  10129.0    1111.0  PRIMARY      NaN
2  101.0  10130.0    1111.0  PRIMARY      NaN
3  101.0  10190.0    1111.0  PRIMARY      NaN
4  102.0  10221.0  112010.0      NaN  GENERIC

In [3]:
hs_bec.to_csv('./hs_bec.csv')

In [4]:
# 한국 수입 품목
korea_exported_list = pd.read_table('C:\project2\Trade_map_List_of_products_exported_and_imported\Trade_Map_-_List_of_products_exported_by_Korea__Republic_of.txt', sep = '\t')
korea_exported_list.rename(columns={'Code':'HS'}, inplace=True)
korea_exported_list.head()

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12
0,TOTAL,All products,547854448,559648708,573091134,526900733,495465606,573716618,605169190,542333337,512788606,644438622,NaN
1,854232,Electronic integrated circuits as memories,16611973,21964136,28849532,28856912,31612095,60506974,83048246,53163163,52359154,69177215,NaN
2,854231,Electronic integrated circuits as processors a...,21228826,20702672,18514980,19887934,17066083,21362697,22100868,20681846,23516687,30406085,NaN
3,271019,"Medium oils and preparations, of petroleum or ...",43536414,39290957,37799193,22784332,18938588,25256941,34171305,29751793,17844010,26178125,NaN
4,870323,Motor cars and other motor vehicles principall...,27767857,27237499,27337065,24060624,22007933,19133730,19612091,19701460,15352522,16416185,NaN

In [5]:
# code에 total 000000 으로 바꿔주기
korea_exported_list.loc[0, 'HS'] = 000000

korea_exported_list['HS'] = pd.to_numeric(korea_exported_list['HS'])

# korea_list.info()

# hs_bec.dtypes

korea_exported_list = pd.merge(korea_exported_list, hs_bec, how='left', on='HS')
korea_exported_list.isnull().sum()

HS                           0
Product label                0
Exported value in 2012       0
Exported value in 2013       0
Exported value in 2014       0
Exported value in 2015       0
Exported value in 2016       0
Exported value in 2017       0
Exported value in 2018       0
Exported value in 2019       0
Exported value in 2020       0
Exported value in 2021       0
Unnamed: 12               5977
HS4                        814
BEC                        816
BEC_Pro                   1512
BEC_Spec                  2493
dtype: int64

In [7]:
# no_exported_id = korea_exported_list[(korea_exported_list['Exported value in 2012'] == 0)
#                     & (korea_exported_list['Exported value in 2013'] == 0)
#                     & (korea_exported_list['Exported value in 2014'] == 0)
#                     & (korea_exported_list['Exported value in 2015'] == 0)
#                     & (korea_exported_list['Exported value in 2016'] == 0)
#                     & (korea_exported_list['Exported value in 2017'] == 0)
#                     & (korea_exported_list['Exported value in 2018'] == 0)
#                     & (korea_exported_list['Exported value in 2019'] == 0)
#                     & (korea_exported_list['Exported value in 2020'] == 0)
#                     & (korea_exported_list['Exported value in 2021'] == 0)].index

no_exported_id = korea_exported_list[(korea_exported_list['Exported value in 2017'] == 0)
                    & (korea_exported_list['Exported value in 2018'] == 0)
                    & (korea_exported_list['Exported value in 2019'] == 0)
                    & (korea_exported_list['Exported value in 2020'] == 0)
                    & (korea_exported_list['Exported value in 2021'] == 0)].index

# 거래품목 없는 인덱스 제거
korea_exported_list = korea_exported_list.drop(no_exported_id)
korea_exported_list.isnull().sum()

HS                           0
Product label                0
Exported value in 2012       0
Exported value in 2013       0
Exported value in 2014       0
Exported value in 2015       0
Exported value in 2016       0
Exported value in 2017       0
Exported value in 2018       0
Exported value in 2019       0
Exported value in 2020       0
Exported value in 2021       0
Unnamed: 12               5016
HS4                          2
BEC                          4
BEC_Pro                    694
BEC_Spec                  1592
dtype: int64

In [8]:
korea_exported_list.isnull().sum()

HS                           0
Product label                0
Exported value in 2012       0
Exported value in 2013       0
Exported value in 2014       0
Exported value in 2015       0
Exported value in 2016       0
Exported value in 2017       0
Exported value in 2018       0
Exported value in 2019       0
Exported value in 2020       0
Exported value in 2021       0
Unnamed: 12               5016
HS4                          2
BEC                          4
BEC_Pro                    694
BEC_Spec                  1592
dtype: int64

In [9]:
### 왜 안될까 ㅠㅠㅠㅠㅠㅠㅠㅠ
# # 데이터 타입 str로 변경
korea_exported_list['HS'] = korea_exported_list['HS'].astype('str')
korea_exported_list.head()
korea_exported_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5016 entries, 0 to 5972
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   HS                      5016 non-null   object
 1   Product label           5016 non-null   object
 2   Exported value in 2012  5016 non-null   int64
 3   Exported value in 2013  5016 non-null   int64
 4   Exported value in 2014  5016 non-null   int64
 5   Exported value in 2015  5016 non-null   int64
 6   Exported value in 2016  5016 non-null   int64
 7   Exported value in 2017  5016 non-null   int64
 8   Exported value in 2018  5016 non-null   int64
 9   Exported value in 2019  5016 non-null   int64
 10  Exported value in 2020  5016 non-null   int64
 11  Exported value in 2021  5016 non-null   int64
 12  Unnamed: 12             0 non-null      float64
 13  HS4                     5014 non-null   float64
 14  BEC                     5012 non-null   float64
 15  BEC_Pro                 4322 non-null   object
 16  BEC_Spec                3424 non-null   object
dtypes: float64(3), int64(10), object(4)
memory usage: 705.4+ KB

In [10]:
korea_exported_list['HS4'] = korea_exported_list['HS'].str.slice(0, 4)

# bec_null.info()

# 4개 자르기
# bec_null['HS4'] = bec_null['HS'].str[:4]
# korea_exported_list.head()
# korea_exported_list.info()

In [11]:
korea_exported_list.isnull().sum()

HS                           0
Product label                0
Exported value in 2012       0
Exported value in 2013       0
Exported value in 2014       0
Exported value in 2015       0
Exported value in 2016       0
Exported value in 2017       0
Exported value in 2018       0
Exported value in 2019       0
Exported value in 2020       0
Exported value in 2021       0
Unnamed: 12               5016
HS4                          0
BEC                          4
BEC_Pro                    694
BEC_Spec                  1592
dtype: int64

In [12]:
# BEC 결측치 행 추출
add_BEC = korea_exported_list[korea_exported_list['BEC'].isnull()]

# BEC 행 제거

# 결측치 행에 hs4코드와 bec코드 추가?
hs_bec.head()
hs_bec = hs_bec[['HS4','BEC']]
# HS4 겹치는 행제거?
hs_bec.drop_duplicates(inplace=True)
# hs 마지막 행 제거
hs_bec.drop(hs_bec.tail(1).index, inplace=True)
# hs bec 결측치 제거
hs_bec.isnull().sum()
hs_bec.dropna(axis=0, inplace= True)
hs_bec.isnull().sum()


korea_exported_list[korea_exported_list['BEC'].isnull()]

# BEC 행 제거
add_BEC.drop(['BEC'], axis=1, inplace=True)

# add_BEC
# add_BEC에 BEC코드 추가
# korea df에 add df 추가?
add_BEC['HS'] = add_BEC['HS'].astype('float')
add_BEC['HS4'] = add_BEC['HS4'].astype('float')

add_BEC = pd.merge(add_BEC, hs_bec, how='left', on='HS4')
add_BEC.drop_duplicates(inplace=True)
add_BEC

C:\Users\user\AppData\Local\Temp\ipykernel_16516\2558558605.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  add_BEC.drop(['BEC'], axis=1, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_16516\2558558605.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  add_BEC['HS'] = add_BEC['HS'].astype('float')
C:\Users\user\AppData\Local\Temp\ipykernel_16516\2558558605.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  add_BEC['HS4'] = add_BEC['HS4'].astype('float')

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4,BEC_Pro,BEC_Spec,BEC
0,0.0,All products,547854448,559648708,573091134,526900733,495465606,573716618,605169190,542333337,512788606,644438622,NaN,0.0,NaN,NaN,NaN
1,999999.0,Commodities not elsewhere specified,67648,64113,57712,56571,58393,49796,49332,46840,37392,39332,NaN,9999.0,NaN,NaN,NaN
2,711890.0,Coin of legal tender,0,13875,16361,3497,8224,67050,52337,60841,78750,27431,NaN,7118.0,NaN,NaN,813202.0
3,710820.0,Monetary gold,0,0,0,0,0,2,2,0,0,1,NaN,7108.0,NaN,NaN,411210.0

In [13]:
korea_exported_list['HS'] = korea_exported_list['HS'].astype('float')

korea_exported_list = pd.merge(korea_exported_list, add_BEC, how='left', on = 'HS')

korea_exported_list.isnull().sum()

# korea_exported_list.head()

HS                             0
Product label_x                0
Exported value in 2012_x       0
Exported value in 2013_x       0
Exported value in 2014_x       0
Exported value in 2015_x       0
Exported value in 2016_x       0
Exported value in 2017_x       0
Exported value in 2018_x       0
Exported value in 2019_x       0
Exported value in 2020_x       0
Exported value in 2021_x       0
Unnamed: 12_x               5016
HS4_x                          0
BEC_x                          4
BEC_Pro_x                    694
BEC_Spec_x                  1592
Product label_y             5012
Exported value in 2012_y    5012
Exported value in 2013_y    5012
Exported value in 2014_y    5012
Exported value in 2015_y    5012
Exported value in 2016_y    5012
Exported value in 2017_y    5012
Exported value in 2018_y    5012
Exported value in 2019_y    5012
Exported value in 2020_y    5012
Exported value in 2021_y    5012
Unnamed: 12_y               5016
HS4_y                       5012
BEC_Pro_y                   5016
BEC_Spec_y                  5016
BEC_y                       5014
dtype: int64