In [1]:
import numpy as np
import pandas as pd

In [2]:
# hs 17 / bec 파일 불러오기, excel 파일의 두번째 sheet
hs17_bec = pd.read_excel('D:\project02\BEC5Correlations\HS2012-17-BEC5 -- 08 Nov 2018.xlsx'
                       , sheet_name = "HS17BEC5")

# hs4, hs6, bec, bec processing, bec specitication 목록만 별도로 추출
#hs17_bec = hs17_bec[['HS4','HS6','BEC5Code1', 'BEC5Processing', 'BEC5Specification']]
hs17_bec = hs17_bec[['HS4','HS6','BEC5Code1']]

# hs code -> code 이름변경
hs17_bec.rename(columns={'HS4':'HS4', 'HS6':'HS', 'BEC5Code1':'BEC', }, inplace=True)

# 6자리 맞춰주기 / str로 바꾼뒤 앞에 0붙여줌
hs17_bec['HS'] = hs17_bec['HS'].astype('str')
hs17_bec['HS'] = hs17_bec['HS'].str.zfill(width=6)

In [3]:
hs4_bec = hs17_bec[['HS4','BEC']]

# hs4, bec코드 정리
hs4_bec.dropna(axis=0, inplace= True)

hs4_bec['HS4'] = hs4_bec['HS4'].astype('int')
hs4_bec['BEC'] = hs4_bec['BEC'].astype('float')

C:\Users\user\AppData\Local\Temp\ipykernel_15580\3158749199.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4_bec.dropna(axis=0, inplace= True)
C:\Users\user\AppData\Local\Temp\ipykernel_15580\3158749199.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4_bec['HS4'] = hs4_bec['HS4'].astype('int')
C:\Users\user\AppData\Local\Temp\ipykernel_15580\3158749199.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4_bec['BEC'] = hs4_bec['BEC'].astype('float')

In [4]:
######## hs12 코드 가져와서 분류해보기?
# hs / bec 파일 불러오기, excel 파일의 첫번째 sheet
hs12_bec = pd.read_excel('D:\project02\BEC5Correlations\HS2012-17-BEC5 -- 08 Nov 2018.xlsx'
                       , sheet_name = "HS12BEC5")

# 필요한 열만 별도로 추출
hs12_bec = hs12_bec[['HS6','BEC5Code1']]

# hs code -> code 이름변경
hs12_bec.rename(columns={'HS6':'HS', 'BEC5Code1':'BEC'}, inplace=True)

# 6자리 맞춰주기 / str로 바꾼뒤 앞에 0붙여줌
hs12_bec['HS'] = hs12_bec['HS'].astype('str')
hs12_bec['HS'] = hs12_bec['HS'].str.zfill(width=6)

In [5]:
hs6_bec = pd.concat([hs17_bec, hs12_bec], ignore_index = True)
hs6_bec.count() #10410

# 겹치는 행 제거
# hs6_bec[hs6_bec.duplicated()]

hs6_bec.drop_duplicates(['HS'], inplace = True)
# hs6_bec.count() # 5205
hs6_bec.count() #5205

HS4    5387
HS     5468
BEC    5466
dtype: int64

In [6]:
# india exported 파일 불러오기
india_exported_list = pd.read_table('D:\project02\Trade_map_List_of_products_exported_and_imported\Trade_Map_-_List_of_products_exported_by_India.txt', sep = '\t')

# code -> hs로 컬럼 이름 변경
india_exported_list.rename(columns={'Code':'HS'}, inplace=True)
india_exported_list.head()

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12
0,TOTAL,All products,289564769,336611389,317544642,263889005,260963959,295862157,323997680,323250726,275488745,394813673,NaN
1,271019,"Medium oils and preparations, of petroleum or ...",30189091,46921811,40682152,17629287,16081655,22227429,32327270,29790424,17626804,34867787,NaN
2,710239,"Diamonds, worked, but not mounted or set (excl...",20819464,27084559,22475223,20556917,22437928,22882992,24254392,20575455,14655837,23844452,NaN
3,271012,"Light oils and preparations, of petroleum or b...",0,19765201,19742787,11962340,10664422,12477483,14810618,12646438,8453439,19167099,NaN
4,300490,Medicaments consisting of mixed or unmixed pro...,6631679,8375464,8288881,9327226,9796992,9658816,10782950,12390505,14059367,14718722,NaN

In [7]:
#   1) code 열에 total 제거
# 제거
india_exported_list = india_exported_list.drop([india_exported_list.index[0]])

#   2) india 데이터 프레임에 hs 코드 데이터 타입 형변환
# india_exported_list['HS'] = pd.to_numeric(india_exported_list['HS'])
india_exported_list['HS'] = india_exported_list['HS'].astype('str')


#   2) merge를 사용해 hs코드 기준으로 데이터 프레임 병합
india_exported_list = pd.merge(india_exported_list, hs6_bec, how='left', on='HS')

#   2-1) hs 코드 자리수 맞춰주기 -> 5자리인경우 앞에 0붙여주기
india_exported_list['HS'] = india_exported_list['HS'].astype('str')
#       HS코드 6자리로 맞춰주기, 없는경우 left에 0으로 붙여줌
# india_exported_list['HS'].str.pad(width=6, side='left', fillchar='0')
india_exported_list['HS'] = india_exported_list['HS'].str.zfill(width=6)

#   2-2 hs코드 잘라서 hs4에 넣어주기
india_exported_list['HS4'] = india_exported_list['HS'].str.slice(0, 4)


india_exported_list.head()

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4,BEC
0,271019,"Medium oils and preparations, of petroleum or ...",30189091,46921811,40682152,17629287,16081655,22227429,32327270,29790424,17626804,34867787,NaN,2710,213101.0
1,710239,"Diamonds, worked, but not mounted or set (excl...",20819464,27084559,22475223,20556917,22437928,22882992,24254392,20575455,14655837,23844452,NaN,7102,411210.0
2,271012,"Light oils and preparations, of petroleum or b...",0,19765201,19742787,11962340,10664422,12477483,14810618,12646438,8453439,19167099,NaN,2710,213101.0
3,300490,Medicaments consisting of mixed or unmixed pro...,6631679,8375464,8288881,9327226,9796992,9658816,10782950,12390505,14059367,14718722,NaN,3004,711220.0
4,711319,"Articles of jewellery and parts thereof, of pr...",17276723,9572682,11222490,7388131,9204800,8371671,11609406,12366518,5678174,8430817,NaN,7113,413202.0

In [8]:
# 거래가 이뤄지지 않은 품목에 대하여 제거

no_exported_id = india_exported_list[
                    (india_exported_list['Exported value in 2012'] == 0)
                    & (india_exported_list['Exported value in 2013'] == 0)
                    & (india_exported_list['Exported value in 2014'] == 0)
                    & (india_exported_list['Exported value in 2016'] == 0)
                    & (india_exported_list['Exported value in 2017'] == 0)
                    & (india_exported_list['Exported value in 2018'] == 0)
                    & (india_exported_list['Exported value in 2019'] == 0)
                    & (india_exported_list['Exported value in 2020'] == 0)
                    & (india_exported_list['Exported value in 2021'] == 0)].index

# 거래품목 없는 인덱스 제거
india_exported_list = india_exported_list.drop(no_exported_id)
india_exported_list.isnull().sum()

HS                           0
Product label                0
Exported value in 2012       0
Exported value in 2013       0
Exported value in 2014       0
Exported value in 2015       0
Exported value in 2016       0
Exported value in 2017       0
Exported value in 2018       0
Exported value in 2019       0
Exported value in 2020       0
Exported value in 2021       0
Unnamed: 12               5448
HS4                          0
BEC                        136
dtype: int64

In [9]:
#### HS4 코드로 BEC NaN값 채우기

# 순수한 hs4코드를 모은 데이터베이스 만들기

# hs4_bec에서 hs4코드만 추출
hs4 = hs4_bec['HS4']

# hs4와 bec 값이 중복되는 행 제거
hs4.drop_duplicates(inplace=True)

# hs4 데이터프레임으로 형변환
hs4 = hs4.to_frame()

# 인덱스 초기화
hs4.reset_index(inplace=True)
hs4.count()

C:\Users\user\AppData\Local\Temp\ipykernel_15580\2588735676.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4.drop_duplicates(inplace=True)

index    1222
HS4      1222
dtype: int64

In [10]:
# hs4에 대하여 bec 코드가 없는 행
# bec 값에 0
hs4_bec.loc[3513,'HS4'] = 0
hs4_bec.loc[3542,'HS4'] = 0

C:\Users\user\AppData\Local\Temp\ipykernel_15580\854863975.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4_bec.loc[3513,'HS4'] = 0

In [11]:
# hs4와 bec 사전 만들기     # 대략 1분 소요

from collections import defaultdict
hs4_dict = defaultdict(list)
    
hs4_bec.loc[0, 'HS4']
for i in range(len(hs4)) :  # hs4코드만 있는 데이터 프레임 #1222개
    hs4Temp = hs4.loc[i, 'HS4']
    for j in range(len(hs4_bec)):   #hs4와 bec 코드가 함께 있음 # 5387개
        hsbecTemp = hs4_bec.loc[j, 'HS4']
        if hs4Temp == hsbecTemp and hs4_bec.loc[j, 'BEC'] not in hs4_dict[hs4Temp]:
            hs4_dict[hs4Temp].append(hs4_bec.loc[j, 'BEC'])
        pass

In [12]:
add_BEC = india_exported_list[india_exported_list['BEC'].isnull()]
# NaN값을 채워지기 위해 hs타입 형변환??
# add_BEC['HS'] = add_BEC['HS'].astype('float')
add_BEC

# 행을 늘려주기 위한 변수
# hs4_count = hs4_bec.groupby('HS4').count()

# BEC 코드를 새로 부여하기 위해 기존 BEC 행 제거
add_BEC.drop(['BEC'], axis=1, inplace=True)

add_BEC.head()

C:\Users\user\AppData\Local\Temp\ipykernel_15580\829979434.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  add_BEC.drop(['BEC'], axis=1, inplace=True)

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4
603,999999,Commodities not elsewhere specified,2527225,5013624,959798,2293003,820957,277469,178658,212037,99582,88618,NaN,9999
4961,100190,Wheat and meslin (excluding durum wheat),739215,0,0,0,0,0,0,0,0,0,NaN,1001
4965,160590,"Molluscs and aquatic invertebrates, prepared o...",191,0,0,0,0,0,0,0,0,0,NaN,1605
4967,080240,"Fresh or dried chestnuts (Castanea spp.), whet...",15,0,0,0,0,0,0,0,0,0,NaN,0802
4972,030530,"Fish fillets, dried, salted or in brine, not s...",414,0,0,0,0,0,0,0,0,0,NaN,0305

In [13]:
# 행 늘리기 위한 hs4 count 
hs4_bec_over = hs4_bec.drop_duplicates()
hs4_count = hs4_bec_over.groupby('HS4').count()

In [15]:
add_BEC_index = (add_BEC.index).to_list()
hs4_count_index = (hs4_count.index).to_list()

### 행 늘리기 - how
# 1. 늘려야하는 행들 확인
# 2. n개로 행 늘려주기
# 문제!!! 마지막 행이 항상 오류뜸 복사 붙여넣기 해주면 작동함
for i in add_BEC_index:
    com_key = int(add_BEC.loc[i, 'HS4'])
    for j in hs4_count_index:
        count = int(hs4_count.loc[j])       # count개수만큼 행 추가
        hs4Temp = int(j)
        # print(hs4Temp)
        # print(count, hs4Temp, com_key)
        if (count > 1) & (com_key == hs4Temp):  # 추가해야할 행이 2개이상이고, com_key와 hs4Tmep이 같을 경우
            for m in range(count - 1):  # count 개수만큼 행 추가
            #     # add_BEC = pd.concat([add_BEC, add_BEC.loc[[i]]], ignore_index = True)
                add_BEC = pd.concat([add_BEC, add_BEC.loc[[i]]], ignore_index = True)

In [16]:
# 위에서 행을 늘려주었기 때문에 인덱스 에러
# 인덱스 초기화
add_BEC.reset_index(inplace=True)

# 금액 나누기
for i in range(len(add_BEC)):
    com_key = int(add_BEC.loc[i, 'HS4'])
    for j in hs4_count_index:
        count = int(hs4_count.loc[j])       # count개수만큼 행 추가
        hs4Temp = int(j)
        if (count > 1) & (com_key == hs4Temp):
            for m in range(count):      # count 개수만큼 금액 나누기            
                add_BEC.loc[i,'Exported value in 2012'] = (add_BEC.loc[i, 'Exported value in 2012'] / count)
                add_BEC.loc[i,'Exported value in 2013'] = (add_BEC.loc[i, 'Exported value in 2013'] / count)
                add_BEC.loc[i,'Exported value in 2014'] = (add_BEC.loc[i, 'Exported value in 2014'] / count)
                add_BEC.loc[i,'Exported value in 2015'] = (add_BEC.loc[i, 'Exported value in 2015'] / count)
                add_BEC.loc[i,'Exported value in 2016'] = (add_BEC.loc[i, 'Exported value in 2016'] / count)
                add_BEC.loc[i,'Exported value in 2017'] = (add_BEC.loc[i, 'Exported value in 2017'] / count)
                add_BEC.loc[i,'Exported value in 2018'] = (add_BEC.loc[i, 'Exported value in 2018'] / count)
                add_BEC.loc[i,'Exported value in 2019'] = (add_BEC.loc[i, 'Exported value in 2019'] / count)
                add_BEC.loc[i,'Exported value in 2020'] = (add_BEC.loc[i, 'Exported value in 2020'] / count)
                add_BEC.loc[i,'Exported value in 2021'] = (add_BEC.loc[i, 'Exported value in 2021'] / count)

In [18]:
# HS4 코드 기준으로 SORT 
# 새로운 데이터프레임 add_BEC_sort에 넣기
add_BEC_sort = add_BEC.sort_values('HS4')
# add_BEC_sort_index = (add_BEC_sort.index).to_list()
add_BEC_sort.drop(['index'], axis=1, inplace = True)
add_BEC_sort.reset_index(inplace = True)
add_BEC_sort

,index,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4
0,138,010110,Pure-bred breeding horses and asses,33.25,0,0,0,0,0,0,0,0,0,NaN,0101
1,7,010110,Pure-bred breeding horses and asses,33.25,0,0,0,0,0,0,0,0,0,NaN,0101
2,158,010210,Pure-bred breeding bovines,7.25,0,0,0,0,0,0,0,0,0,NaN,0102
3,81,010210,Pure-bred breeding bovines,7.25,0,0,0,0,0,0,0,0,0,NaN,0102
4,70,010519,"Live domestic ducks, geese and guinea fowls, w...",5.00,0,0,0,0,0,0,0,0,0,NaN,0105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,165,960839,"Fountain pens, stylograph pens and other pens ...",186.50,0,0,0,0,0,0,0,0,0,NaN,9608
168,119,960839,"Fountain pens, stylograph pens and other pens ...",186.50,0,0,0,0,0,0,0,0,0,NaN,9608
169,154,960831,Indian ink drawing pens,285.50,0,0,0,0,0,0,0,0,0,NaN,9608
170,65,960831,Indian ink drawing pens,285.50,0,0,0,0,0,0,0,0,0,NaN,9608
171,0,999999,Commodities not elsewhere specified,2527225.00,5013624,959798,2293003,820957,277469,178658,212037,99582,88618,NaN,9999

In [19]:
x = 0

for i in range(len(add_BEC_sort)):
    com_key = int(add_BEC_sort.loc[i, 'HS4'])
    for key, value in hs4_dict.items(): 
        # print( com_key,key, len(value))
        if (key == com_key):
            try:
                if len(value) == 1:
                    x = 0
                    # add_BEC_new.loc[i, 'HS4'] = key
                    add_BEC_sort.loc[i, 'BEC'] = value[x]
                    # print(add_BEC_sort.loc[i, 'BEC'])
                else:
                    add_BEC_sort.loc[i, 'BEC'] = value[x]
                    # print(i,key ,com_key, value[x], add_BEC_sort.loc[i, 'BEC'])
                    x = x + 1
                    if x == len(value):
                        x = 0
            except: IndexError

In [21]:
#### 원 데이터(bec 값 있는 것)와 add데이터 concat

#   1) ROW 데이터에서 BEC 코드 있는 데이터
india_exported_list_bec = (india_exported_list[india_exported_list['BEC'].notnull()])

#   2) 모든 데이터들 넣어줄 데이터 프레임 생성
india_exported = pd.DataFrame

#   3) add_BEC_sort와 india_exported_list_bec concat
india_exported = pd.concat([india_exported_list_bec, add_BEC_sort])

In [22]:
# 모두 합친 df에서 BEC 값이 없는 데이터 확인
india_exported[india_exported['BEC'].isnull()]

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4,BEC,index
171,999999,Commodities not elsewhere specified,2527225.0,5013624,959798,2293003,820957,277469,178658,212037,99582,88618,NaN,9999,NaN,0.0

In [27]:
# 사전저장
import pickle
with open('./hs4_bec.pkl', 'wb') as f:
    pickle.dump(hs4_dict,f)

In [29]:
# 사전 불러오기
with open('C:\project2\Python\hs4_bec.pkl', 'rb') as f:
    hs4_dict = pickle.load(f)

In [30]:
hs6_bec.to_csv('./hs6_bec.csv')