In [1]:
# 폴더 내에 파일 리스트를 files에 할당
import os
import pandas as pd
files = os.listdir('C:/project2/Python/finish/')

file_name = []
# files 리스트 요소를 ,로 스플릿한 후 앞 요소만 가져오기
for i in range(len(files)):
    file_name.append(files[i].split('.')[0])
    globals()[files[i].split('.')[0]] = pd.read_csv(f'C:/project2/Python/finish/{files[i]}')

In [2]:
df_list = []

for df in file_name:      
    df = globals()[df]
    df_list.append(df)

In [3]:
len(df_list)

120

In [4]:
year_2012 = pd.DataFrame({'Year' : ['']})
year_2013 = pd.DataFrame({'Year' : ['']})
year_2014 = pd.DataFrame({'Year' : ['']})
year_2015 = pd.DataFrame({'Year' : ['']})
year_2016 = pd.DataFrame({'Year' : ['']})
year_2017 = pd.DataFrame({'Year' : ['']})
year_2018 = pd.DataFrame({'Year' : ['']})
year_2019 = pd.DataFrame({'Year' : ['']})
year_2020 = pd.DataFrame({'Year' : ['']})
year_2021 = pd.DataFrame({'Year' : ['']})

In [5]:
df_year = []
for i in range(len(df_list)):
    num_str = str(i)
    dataframe = df_list[i]
    if num_str[-1] == "0":
        dataframe = pd.concat([dataframe, year_2012])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2012
        df_year.append(dataframe)
    elif num_str[-1] == "1":
        dataframe = pd.concat([dataframe, year_2013])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2013
        df_year.append(dataframe)
    elif num_str[-1] == "2":
        dataframe = pd.concat([dataframe, year_2014])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2014
        df_year.append(dataframe)
    elif num_str[-1] == "3":
        dataframe = pd.concat([dataframe, year_2015])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2015
        df_year.append(dataframe)
    elif num_str[-1] == "4":
        dataframe = pd.concat([dataframe, year_2016])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2016
        df_year.append(dataframe)
    elif num_str[-1] == "5":
        dataframe = pd.concat([dataframe, year_2017])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2017
        df_year.append(dataframe)
    elif num_str[-1] == "6":
        dataframe = pd.concat([dataframe, year_2018])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2018
        df_year.append(dataframe)
    elif num_str[-1] == "7":
        dataframe = pd.concat([dataframe, year_2019])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2019
        df_year.append(dataframe)
    elif num_str[-1] == "8":
        dataframe = pd.concat([dataframe, year_2020])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2020
        df_year.append(dataframe)
    elif num_str[-1] == "9":
        dataframe = pd.concat([dataframe, year_2021])
        dataframe.loc[dataframe['Year']!=dataframe['Year'], 'Year'] = 2021
        df_year.append(dataframe)

In [6]:
df_year[11]

     Unnamed: 0       BEC  2013_USD    country  Year
0           0.0     212.0   15837.0  Australia  2013
1           1.0     312.0   19129.0  Australia  2013
2           2.0     512.0    1133.0  Australia  2013
3           3.0     612.0       0.0  Australia  2013
4           4.0     712.0    6290.0  Australia  2013
..          ...       ...       ...        ...   ...
711       711.0  811220.0     117.0   Viet Nam  2013
712       712.0  812020.0       0.0   Viet Nam  2013
713       713.0  813101.0       0.0   Viet Nam  2013
714       714.0  813202.0     234.0   Viet Nam  2013
0           NaN       NaN       NaN        NaN

[716 rows x 5 columns]

In [7]:
file_name_list = []
for df in file_name:
    file_name_a = str(df) + '.csv'
    file_name_list.append(file_name_a)

In [8]:
file_name_list[0]

'australia2012.csv'

In [9]:
for i in range(len(file_name_list)):
    # files_save = files[i]
    data = df_year[i]
    data.to_csv('./map_year/' + file_name_list[i])