In [1]:
# 폴더 내에 파일 리스트를 files에 할당
import os
import pandas as pd
files = os.listdir('C:/project2/Python/each_country_export_import/import/')

file_name = []
# files 리스트 요소를 ,로 스플릿한 후 앞 요소만 가져오기
for i in range(len(files)):
    file_name.append(files[i].split('.')[0])
    globals()[files[i].split('.')[0]] = pd.read_csv(f'C:/project2/Python/each_country_export_import/import/{files[i]}')

In [2]:
df_list = []

for df in file_name:      
    df = globals()[df]
    df_list.append(df)

In [3]:
# 불필요한 열들제거
# unnamed 0.1, HS, unnamed:12, unnamed: 0, HS4, INDEX
drop_list = ['Product label', 'HS', 'Unnamed: 12','Unnamed: 0', 'Unnamed: 0', 'HS4', 'index']

for df in df_list:
    df.drop(drop_list, axis = 'columns', inplace = True)
    # print(type(df))
# vietnam_imported.drop(drop_list, axis = 'columns', inplace = True)

In [4]:
# BEC 별 합산
df_group = []

for df in df_list:
    data = pd.DataFrame(df.groupby('BEC').sum())
    df_group.append(data)
    # print(type(df))

In [5]:
# df_group[0]
# df_group[0].columns = ['USD','USD','USD','USD','USD','USD','USD','USD','USD','USD']

In [6]:
# df_group[0]

df_rename = []
for df in range(len(df_group)):
    # print(df)
    data = df_group[df].columns = ['USD','USD','USD','USD','USD','USD','USD','USD','USD','USD']
    df_rename.append(data)
    # print(i)

In [7]:
len(df_group)
df_group[0]

,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
BEC,,,,,,,,,,
212.0,386535,358781,443674,412956,427826,364116,391615,412910,399115,451644
312.0,4214443,3592395,3415283,2691199,2690936,3152245,4069874,3864954,3692828,4088860
512.0,1639397,1170959,1124125,915166,1878556,7394282,897810,1006071,710319,1437738
612.0,4720,3716,1246,1237,1414,3606,4232,2725,1602,2352
712.0,580725,604131,659787,537394,538360,577471,644021,625167,500008,634492
...,...,...,...,...,...,...,...,...,...,...
811220.0,172560,154901,187433,145266,139727,147643,115267,133810,179021,195825
812020.0,1074047,273853,1144703,351746,336669,541578,540477,542532,463105,789524
813101.0,3510,3240,3287,3204,2394,2507,2365,2387,3030,2717
813201.0,247661,254806,217968,153499,248864,165966,182926,206450,90104,226441
813202.0,69681,67776,55372,54263,47789,32276,37108,35162,58113,61130

In [8]:
# 연도별 데이터 프레임 나누기?
df_2012 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})
df_2013 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})
df_2014 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})
df_2015 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})
df_2016 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})
df_2017 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})
df_2018 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})
df_2019 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})
df_2020 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})
df_2021 = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})

In [9]:
# df_2012 = pd.concat([df_2012, df_group[0].iloc[:,[0]]])

df = pd.DataFrame({'USD': 0,'Country' : ['A'], 'Year' : [0]})

# df_year = []
# for i in range(10):
#     df = pd.concat([df_2012, df_group[0].iloc[:,[i]]])
#     df_year.append(df)

In [10]:

df_2012 = pd.concat([df_2012, df_group[11].iloc[:,[1]]])
df_2013 = pd.concat([df_2013, df_group[11].iloc[:,[1]]])
df_2014 = pd.concat([df_2014, df_group[11].iloc[:,[2]]])
df_2015 = pd.concat([df_2015, df_group[11].iloc[:,[3]]])
df_2016 = pd.concat([df_2016, df_group[11].iloc[:,[4]]])
df_2017 = pd.concat([df_2017, df_group[11].iloc[:,[5]]])
df_2018 = pd.concat([df_2018, df_group[11].iloc[:,[6]]])
df_2019 = pd.concat([df_2019, df_group[11].iloc[:,[7]]])
df_2020 = pd.concat([df_2020, df_group[11].iloc[:,[8]]])
df_2021 = pd.concat([df_2021, df_group[11].iloc[:,[9]]])

In [11]:
df_2012.loc[df_2012['Year'] != df_2012['Year'], 'Year'] = '2012'
df_2013.loc[df_2013['Year'] != df_2013['Year'], 'Year'] = '2013'
df_2013.loc[df_2014['Year'] != df_2014['Year'], 'Year'] = '2014'
df_2015.loc[df_2015['Year'] != df_2015['Year'], 'Year'] = '2015'
df_2016.loc[df_2016['Year'] != df_2016['Year'], 'Year'] = '2016'
df_2017.loc[df_2017['Year'] != df_2017['Year'], 'Year'] = '2017'
df_2018.loc[df_2018['Year'] != df_2018['Year'], 'Year'] = '2018'
df_2019.loc[df_2019['Year'] != df_2019['Year'], 'Year'] = '2019'
df_2020.loc[df_2020['Year'] != df_2020['Year'], 'Year'] = '2020'
df_2021.loc[df_2021['Year'] != df_2021['Year'], 'Year'] = '2021'

df_2012.loc[df_2012['Country'] != df_2012['Country'], 'Country'] = 'vietnam'
df_2013.loc[df_2013['Country'] != df_2013['Country'], 'Country'] = 'vietnam'
df_2014.loc[df_2014['Country'] != df_2014['Country'], 'Country'] = 'vietnam'
df_2015.loc[df_2015['Country'] != df_2015['Country'], 'Country'] = 'vietnam'
df_2016.loc[df_2016['Country'] != df_2016['Country'], 'Country'] = 'vietnam'
df_2017.loc[df_2017['Country'] != df_2017['Country'], 'Country'] = 'vietnam'
df_2018.loc[df_2018['Country'] != df_2018['Country'], 'Country'] = 'vietnam'
df_2019.loc[df_2019['Country'] != df_2019['Country'], 'Country'] = 'vietnam'
df_2020.loc[df_2020['Country'] != df_2020['Country'], 'Country'] = 'vietnam'
df_2021.loc[df_2021['Country'] != df_2021['Country'], 'Country'] = 'vietnam'

In [12]:
df_new = pd.concat([df_2012, df_2013, df_2014, df_2015, df_2016, df_2017,
                    df_2018, df_2019, df_2020, df_2021])

In [13]:
df_new_index = df_new.reset_index().rename(columns={'index' : 'BEC'})
# df_new.rename(columns = {'index' : 'BEC'}, inplace = True)
# df_new.Name = ['BEC', 'USD', 'Country', 'Year']
df_new_index.to_csv('./import_year/vietnam_import.csv')

In [14]:
# 0 : vietnam
# 1 : vietnam
# 2 : vietnam
# 3 :vietnam
# 4 :vietnam
# 5 :vietnam
# 6 :vietnam
# 7 :vietnam
# 8 :vietnam
# 9 :vietnam
# 10 :vietnam
# 11: vietnam